<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <div class="media-body">
        <h2 class="media-heading"><%= @user.email %></h2>
        <small>
          <%- #pluralize(@user.tasks.count, 'task') %>
        </small>
      </div>
    </div>
  </div>
</div>
