
  <div class="lander">
    <div class="lander-text">
    <p>Blocitoff</p>
    <%= link_to "Get Started!", new_user_registration_path, class: "btn btn-success" %>
    <p>A place to organize your life.</p>
  </div>
