    <%= image_tag("jumbo.jpg") %>
  <div class="jumbotron">

    <div class="container">

    </div>
  </div>
  <div class="whatdoicallthis">
    <p>Blocitoff</p>
    <p>A place to organize your life.</p>
  </div>
