<%= form_for [user, item], remote: true do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter Task" %>
    </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
