    <% @user.items.each do |item| %>
       <li class="list-group-item row">
           <div class="created-at-time badge col-md-2">
                <%= item.created_at.nil? ? "sometime" : time_ago_in_words(item.created_at) %> ago
           </div>

           <div class="item-name col-md-4">
               <%= item.name %>
           </div>

            <div class="delete-item col-md-2">
                <%= link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
            </div>
        </li>
    <% end %>
