    <% @user.items.each do |item| %>
       <li class="list-group-item"><span class="badge"><%= item.created_at.nil? ? "sometime" : time_ago_in_words(item.created_at) %> ago </span><strong><%= item.name %></strong> <%= link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok' %></li>
    <% end %>
