@import "bootstrap-sprockets";
@import "bootstrap";


@import "users";
@import "welcome";

body {
    padding-top: 65px;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #5cb85c;
    border-style: none;

}

.nav-title{
    float: left !important;
    margin-left: -15px;
    padding-top: 10px;
}

.navbar-nav > li > a{
    color: #ffffff !important;
}
